.page-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  text-align: center;
}

.recipe-img {
  border-radius: 20px;
  border: 1px solid black;
  filter: grayscale(20%);
}

.recipe-img:hover {
  filter: grayscale(0%);
}

.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  max-width: 1200px;
}

.recipe-title {
  max-width: 300px;
  min-height: 50px;
  font-family: var(--main-font-family);
  text-transform: uppercase;
  color: var(--accented-color);
}

.recipe-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: transparent 1px solid;
}

.recipe-item:hover {
  scale: 1;
  border: var(--focus-border-color) 1px solid;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.recipes-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.recipes-selector-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.recipe-search-button {
  max-width: 200px;
}

.recipes-search-wrapper {
  display: flex;
  gap: 10px;
}

@media (max-width: 700px) {
  .recipes-search-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
